# Modulo 1 - Introdução ao Pandas

##  - Instalação e Importação do Pandas

In [2]:
## 1. Instalação e Importação do Pandas

#Caso ainda não tenha o pandas instalado, você pode instalá-lo com o seguinte comando:

# ``` bash ou cmd
#!pip install pandas

import pandas as pd

## - Estruturas de Dados Básicas

### Series

- Uma Series é uma estrutura de dados unidimensional, semelhante a um array. Pode conter dados de diferentes tipos (inteiros, strings, floats, etc.).

In [3]:
series_exemplo = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(series_exemplo)

a    10
b    20
c    30
d    40
e    50
dtype: int64

### Dataframes

- O DataFrame é uma estrutura de dados bidimensional (tabelas), composta por linhas e colunas. Cada coluna pode ser vista como uma Series

In [4]:
# Criando um DataFrame de exemplo
data = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela'],
    'Idade': [23, 25, 30, 22],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']
}

df_exemplo = pd.DataFrame(data)
print(df_exemplo)

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     25  Rio de Janeiro
2   Carlos     30  Belo Horizonte
3  Daniela     22        Curitiba

##  - Visualização de Dados

- Depois de criar ou carregar dados em um DataFrame, é importante saber como visualizar e explorar esses dados.

### Visualizar as primeiras linhas - `head()`

In [5]:
# Visualizando as 3 primeiras linhas do DataFrame
print(df_exemplo.head(3))

     Nome  Idade          Cidade
0     Ana     23       São Paulo
1   Bruno     25  Rio de Janeiro
2  Carlos     30  Belo Horizonte

### Visualizar as últimas linhas - `tail()`

In [6]:
# Visualizando as 2 últimas linhas do DataFrame
print(df_exemplo.tail(2))

      Nome  Idade          Cidade
2   Carlos     30  Belo Horizonte
3  Daniela     22        Curitiba

### Informações gerais - `info()`

In [8]:
# Exibindo informações gerais do DataFrame
print(df_exemplo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    4 non-null      object
 1   Idade   4 non-null      int64
 2   Cidade  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

### Estatísticas descritivas - `describe()`

In [7]:
# Exibindo estatísticas descritivas do DataFrame
print(df_exemplo.describe())

# count: Número de entradas não nulas.
#mean: Média aritmética dos valores.
#std: Desvio padrão, que mede a dispersão dos dados em relação à média.
#min: O valor mínimo da coluna.
#25%: Primeiro quartil (percentil 25), que indica que 25% dos dados estão abaixo desse valor.
#50%: Mediana (percentil 50), que indica que 50% dos dados estão abaixo desse valor.
#75%: Terceiro quartil (percentil 75), que indica que 75% dos dados estão abaixo desse valor.
#max: O valor máximo da coluna.

           Idade
count   4.000000
mean   25.000000
std     3.559026
min    22.000000
25%    22.750000
50%    24.000000
75%    26.250000
max    30.000000

# Exercício: Análise de Dados de Vendas

Você é responsável por analisar os dados de vendas de uma pequena empresa. Os dados estão organizados nas seguintes colunas:

- **Produto**: O nome do produto vendido.
- **Quantidade**: A quantidade de produtos vendidos.
- **Preço Unitário**: O preço por unidade de cada produto.

## Passos:

### 1. Instale e importe o Pandas  
   - Se necessário, instale o `pandas` e importe-o para o seu notebook.

### 2. Crie um DataFrame  
   Com base nos dados abaixo, crie um DataFrame chamado `df_vendas`:

   | Produto   | Quantidade | Preço Unitário |
   |-----------|------------|----------------|
   | TV        | 5          | 2000           |
   | Geladeira | 3          | 1500           |
   | Celular   | 10         | 1200           |
   | Notebook  | 2          | 3000           |
   | TV        | 4          | 2000           | 
   | Celular   | 7          | 1200           | 

   - Utilize um dicionário para criar esse DataFrame.

### 3. Visualize os dados  
   - Exiba as primeiras 3 linhas do DataFrame com `head()`.
   - Exiba as últimas 2 linhas do DataFrame com `tail()`.

### 4. Obtenha informações gerais dos dados  
   - Use o método `info()` para obter uma visão geral das colunas, tipos de dados e valores nulos.

### 5. Exiba estatísticas descritivas  
   - Utilize o método `describe()` para exibir estatísticas descritivas das colunas numéricas.

### 6. Cálculo do valor total
   - Crie uma nova coluna chamada `Valor Total`, que é o resultado da multiplicação de `Quantidade` e `Preço Unitário`

   - Exiba o DataFrame com a nova coluna.

In [6]:
#Digite o código abaixo


# Passo 1: Importe a biblioteca pandas
import pandas as pd

# Passo 2: Criação do DataFrame
dados_vendas = {
    'Produto': ['TV', 'Geladeira', 'Celular', 'Notebook', 'TV', 'Celular'],
    'Quantidade': [5, 3, 10, 2, 4, 7],
    'Preço Unitário': [2000, 1500, 1200, 3000, 2000, 1200]
}

print("\nData Frame Inicial:\n")

df_vendas = pd.DataFrame(dados_vendas)

print(df_vendas)

# Passo 3: Visualizando os dados
print("\nHead (3):\n")
print(df_vendas.head(3))  # Primeiras 3 linhas

print("\nTail (2):\n")
print(df_vendas.tail(2))  # Últimas 2 linhas

# Passo 4: Informações gerais
print("\nInformação dos valores:\n")
print(df_vendas.info())

# Passo 5: Estatísticas descritivas
print("\nDescrição dos valores:\n")
print(df_vendas.describe())

# Passo 6: Cálculo do Valor Total (Quantidade * Preço Unitário)
df_vendas['Valor Total'] = df_vendas['Quantidade'] * df_vendas['Preço Unitário']

# Exibindo o DataFrame atualizado
print("\nData Frame Atualizado:\n")
print(df_vendas)

Data Frame Inicial:

     Produto  Quantidade  Preço Unitário
0         TV           5            2000
1  Geladeira           3            1500
2    Celular          10            1200
3   Notebook           2            3000
4         TV           4            2000
5    Celular           7            1200

Head (3):

     Produto  Quantidade  Preço Unitário
0         TV           5            2000
1  Geladeira           3            1500
2    Celular          10            1200

Tail (2):

   Produto  Quantidade  Preço Unitário
4       TV           4            2000
5  Celular           7            1200

Informação dos valores:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Produto         6 non-null      object
 1   Quantidade      6 non-null      int64
 2   Preço Unitário  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes
None

Descrição dos valores:

       Quantidade  Preço Unitário
count    6.000000        6.000000
mean     5.166667     1816.666667
std      2.926887      682.397733
min      2.000000     1200.000000
25%      3.250000     1275.000000
50%      4.500000     1750.000000
75%      6.500000     2000.000000
max     10.000000     3000.000000

Data Frame Atualizado:

     Produto  Quantidade  Preço Unitário  Valor Total
0         TV           5            2000        10000
1  Geladeira           3            1500         4500
2    Celular          10            1200        12000
3   Notebook           2            3000         6000
4         TV           4            2000         8000
5    Celular           7            1200         8400