# Módulo 2: Operações Básicas com Data Frames

Neste módulo, vamos nos concentrar nas operações básicas que podemos realizar em DataFrames com o Pandas. Vamos aprender a ler e escrever arquivos de diferentes formatos, a filtrar dados com base em condições específicas e a manipular os índices dos DataFrames.

## Tópicos deste Módulo:

- Leitura e Escrita de Arquivos CSV, Excel, JSON e Parquet
- Filtragem de Dados com Condições
- Manipulação de Índices (set_index, reset_index)

---

## 1. Leitura e Escrita de Arquivos

Pandas facilita a leitura e escrita de diferentes tipos de arquivos. Vamos cobrir os formatos CSV, Excel, JSON e Parquet.

### Leitura de Arquivos CSV

Para ler um arquivo CSV, usamos o método `pd.read_csv()`:

```python
import pandas as pd

# Leitura de um arquivo CSV
df = pd.read_csv('caminho_do_arquivo/arquivo.csv')
print(df.head())
# Salvando o DataFrame em um arquivo CSV
df.to_csv('caminho/para/arquivo_salvo.csv', index=False)

```

### Leitura de Arquivos Excel

Para ler um arquivo CSV, usamos o método `pd.read_excel()`:

```python
import pandas as pd

# Leitura de um arquivo Excel
df_excel = pd.read_excel('caminho_do_arquivo/arquivo.xlsx')

# Escrita de um arquivo Excel
df.to_excel('caminho_do_arquivo/arquivo_salvo.xlsx', index=False)

```
### Leitura de Arquivos JSON

Para ler um arquivo CSV, usamos o método `pd.read_json()`:

```python
import pandas as pd

# Leitura de um arquivo JSON
df_json = pd.read_json('caminho_do_arquivo/arquivo.json')

# Escrita de um arquivo JSON
df.to_json('caminho_do_arquivo/arquivo_salvo.json')
```

### Notas:

Cada tipo específico de formato de arquivo (`.json`, `.xlsl`, `.csv`, `etc...`) tem sua proía leitura, que pode ser consultada na documentação do pandas

## Filtragem de Dados com Condições


### Filtragem Simples

In [11]:
# Selecionar todas as linhas onde a coluna 'idade' é maior que 30
import pandas as pd

# Criando o DataFrame com 15 elementos
df = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo', 'Fernanda', 'Gabriel', 'Helena', 'Igor', 'Joana', 
             'Kleber', 'Laura', 'Marcos', 'Nina', 'Otávio'],
    'Idade': [23, 35, 22, 28, 40, 30, 25, 27, 32, 31, 29, 24, 38, 26, 33],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Curitiba', 'Salvador', 'Brasília', 'Fortaleza', 'Belo Horizonte',
               'Porto Alegre', 'Recife', 'Manaus', 'Belém', 'Goiânia', 'Florianópolis', 'Campo Grande', 'São Paulo']
}

df = pd.DataFrame(df)


df_filtrado = df[df['Idade'] > 30]
print(df_filtrado)

       Nome  Idade          Cidade
1     Bruno     35  Rio de Janeiro
4   Eduardo     40        Brasília
8      Igor     32          Recife
9     Joana     31          Manaus
12   Marcos     38   Florianópolis
14   Otávio     33       São Paulo

### Filtragem com Múltiplas Condições

- Você pode combinar condições usando operadores lógicos (`&`, `|`):

In [12]:
# Selecionar linhas onde a idade é maior que 30 e a cidade é 'São Paulo'


df_filtrado = df[(df['Idade'] > 30) & (df['Cidade'] == 'São Paulo')]
print(df_filtrado)

      Nome  Idade     Cidade
14  Otávio     33  São Paulo

## Manipulação de Índices

- Os índices no Pandas ajudam a organizar os dados. Você pode definir ou redefinir o índice de um DataFrame.

### Definir um Índice com `set_index()`

 - O método `set_index()` define uma coluna como o índice do DataFrame:

In [14]:
# Definir a coluna 'nome' como índice
df_indexado = df.set_index('Nome')
print(df_indexado.head())

         Idade          Cidade
Nome
Ana         23       São Paulo
Bruno       35  Rio de Janeiro
Carlos      22        Curitiba
Daniela     28        Salvador
Eduardo     40        Brasília

### Redefinir o Índice com reset_index()
- Se você quiser transformar o índice de volta em uma coluna, use `reset_index()`:

In [15]:
# Resetar o índice, tornando-o uma coluna normal novamente
df_resetado = df_indexado.reset_index()
print(df_resetado.head())

      Nome  Idade          Cidade
0      Ana     23       São Paulo
1    Bruno     35  Rio de Janeiro
2   Carlos     22        Curitiba
3  Daniela     28        Salvador
4  Eduardo     40        Brasília

# Exercício: Operações Básicas com DataFrames

Neste exercício, você aplicará os conceitos de leitura, filtragem de dados e manipulação de índices que aprendeu no Módulo 2.

## Instruções

### Parte 1: Abrir um DataFrame
1. ler o arquivo `mod2arq.csv` com as seguintes colunas:
   - **Nome**: Lista com 15 nomes de pessoas.
   - **Idade**: Lista com 15 idades correspondentes.
   - **Cidade**: Lista com 15 cidades diferentes.
   
Observação: passar o caminho correto em que o arquivo está e se atentar de realizar a leitura certa baseada em sua extensão
   
### Parte 2: Filtrar os Dados
1. Selecione todas as linhas onde a coluna **Idade** seja maior que 30.
2. Exiba o DataFrame filtrado.

### Parte 3: Manipulação de Índices
1. Defina a coluna **Nome** e **Idade** como o índice do DataFrame.
2. Resete o índice, transformando-o novamente em uma coluna normal.

In [29]:

import pandas as pd

# Criando o DataFrame com 15 elementos


df = pd.read_csv('mod2arq.csv')
df.info()

# Parte 2: Filtrar todas as linhas onde a 'Idade' é maior que 30
print("\nDados maior que 30\n")
df_filtrado = df[df['Idade'] > 30]
print(df_filtrado)
print()
# Parte 3: Definir 'Nome' como índice

print("\nNome e Idade como indice \n")
df_indexado = df.set_index(['Nome', 'Idade'])
print(df_indexado)
print()
# Resetar o índice

print("\nNome e Idade fora do indice \n")
df_resetado = df_indexado.reset_index()
print(df_resetado)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    30 non-null     object
 1   Idade   30 non-null     int64
 2   Cidade  30 non-null     object
dtypes: int64(1), object(2)
memory usage: 852.0+ bytes

Dados maior que 30

       Nome  Idade          Cidade
1     Bruno     35  Rio de Janeiro
4   Eduardo     40        Brasília
8      Igor     32          Recife
9     Joana     31          Manaus
12   Marcos     38   Florianópolis
14   Otávio     33           Natal
15    Paulo     37          Maceió
17  Roberta     41     João Pessoa
18   Sergio     34        Teresina
21  Vicente     36         Vitória
24     Yuri     35       Boa Vista
25     Zara     31     Porto Velho
28     Caio     32        Curitiba
29   Débora     33        Brasília


Nome e Idade como indice

                        Cidade
Nome     Idade
Ana      23          São Paulo
Bruno    35     Rio de Janeiro
Carlos   22           Curitiba
Daniela  28           Salvador
Eduardo  40           Brasília
Fernanda 30          Fortaleza
Gabriel  25     Belo Horizonte
Helena   27       Porto Alegre
Igor     32             Recife
Joana    31             Manaus
Kleber   29              Belém
Laura    24            Goiânia
Marcos   38      Florianópolis
Nina     26       Campo Grande
Otávio   33              Natal
Paulo    37             Maceió
Quênia   22           São Luís
Roberta  41        João Pessoa
Sergio   34           Teresina
Tatiana  29             Macapá
Ursula   24            Aracaju
Vicente  36            Vitória
Wesley   28             Palmas
Ximena   30             Cuiabá
Yuri     35          Boa Vista
Zara     31        Porto Velho
Alex     27              Natal
Bruna    26          São Paulo
Caio     32           Curitiba
Débora   33           Brasília


Nome e Idade fora do indice

        Nome  Idade          Cidade
0        Ana     23       São Paulo
1      Bruno     35  Rio de Janeiro
2     Carlos     22        Curitiba
3    Daniela     28        Salvador
4    Eduardo     40        Brasília
5   Fernanda     30       Fortaleza
6    Gabriel     25  Belo Horizonte
7     Helena     27    Porto Alegre
8       Igor     32          Recife
9      Joana     31          Manaus
10    Kleber     29           Belém
11     Laura     24         Goiânia
12    Marcos     38   Florianópolis
13      Nina     26    Campo Grande
14    Otávio     33           Natal
15     Paulo     37          Maceió
16    Quênia     22        São Luís
17   Roberta     41     João Pessoa
18    Sergio     34        Teresina
19   Tatiana     29          Macapá
20    Ursula     24         Aracaju
21   Vicente     36         Vitória
22    Wesley     28          Palmas
23    Ximena     30          Cuiabá
24      Yuri     35       Boa Vista
25      Zara     31     Porto Velho
26      Alex     27           Natal
27     Bruna     26       São Paulo
28      Caio     32        Curitiba
29    Débora     33        Brasília